/* || GENERAL STYLES */

* {
    margin: 0;

    padding: 0;

    box-sizing: border-box;
}

:root {
    --primary-color: blueviolet;

    --secondary-color: silver;

    --tertiary-color: black;

    --qautenary-color: white;

    --quinary-color: #CBC3E3;
}

html {
    height: 100vh;

    font-family: futura;
}

header {
    padding: 40px 10px;

    display: flex;

    flex-wrap: wrap;

    justify-content: space-between;
}

main {
    margin: 40px;
    
    text-align: center;
}

a {
    text-decoration: none;

    color: black;
}

h1 {
    margin: 20px;
}

p {
    margin: 20px;
}

/* || MAIN PAGE STYLES */

.view-high-scores a{
    color: var(--primary-color);

}

.view-high-scores:hover {
    color: var(--primary-color);
}

button.start-quiz-button {
    background-color: var(--primary-color);

    color: white;

    width: 100px;

    height: 50px;

    border-radius: 10%;
}
/* ol element for questions */
.answer-list {
    text-align: center;

    list-style: none;
}

/* li element for questions */
.answer {
    border-radius: 10%;

    background-color: var(--secondary-color);

    color: var(--tertiary-color);

    margin: 20px;

    font-size: 20px;

}

.answer:hover {
    background-color: var(--primary-color);

    color: var(--qautenary-color);
}

button.submit-score {
    background-color: var(--primary-color);

    color: white;

    width: 100px;

    height: 30px;

    border-radius: 10%;

}

button.high-score-button {
    background-color: var(--primary-color);

    color: white;

    width: 100px;

    height: 30px;

    border-radius: 10%;

}

.high-score-button-div {
    display: flex;

    justify-content: space-around;

    align-items: center;

    margin: 30px;

}

.high-score-list-element {
    margin: 20px;

    font-size: 20px;

    background-color: var(--quinary-color);
}

.high-score-list {
    text-align: center;
}

[data-grade="correct"] {
    color: green;
}

[data-grade="incorrect"] {
    color: red;
}